@media(min-width: 1000px) {
    body {
        max-width: 1440px;
        padding: 50px;
        height: 100vh;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "principal principal info-direito"
            "principal principal info-direito"
            "footer footer footer";
    }

    .menu-btn , .menu-btn.ativo{
        display: none; 
    }
    
    .nav{
        position: static;
        display: block;
        width: auto;
    }

    .nav ul {
        position: static;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        padding: 0;
        width: auto;
        height: auto;
        background-color: transparent;
    }

    .nav ul li {
        color: var(--gray);
    }

    .nav ul li:hover {
        color: var(--soft-red);
        cursor: pointer;
    }

    .conteudo-principal .info-principal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .conteudo-principal .info-principal h1 {
        font-size: 44px;
        width: 35%;
    }

    .conteudo-principal .info-principal .sub-info{
        width: 50%;
    }

    .conteudo-principal .info-principal .sub-info p{
        line-height: 30px;
    }

    .news {
        grid-area: info-direito;
        padding: 15px 20px;
        background-color: var(--very-dark-blue);
        margin-top: 15px;
        max-width: 390px;
    }

    .footer {
        grid-area: footer;
        display: flex;
        padding: 15px 20px;
        flex-direction: row;
    }
}